<a href="https://colab.research.google.com/github/gndede/python/blob/main/11_06_2021_207.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#https://www.w3schools.com/python/python_conditions.asp
#Less than or equal to: a <= b
#Greater than: a > b
#Greater than or equal to: a >= b

In [ ]:
a = 11

In [ ]:
b = 11

In [ ]:
a <= b  #  or a =< b

In [ ]:
a <= b

In [ ]:
a == b

In [ ]:
a = 33
b = 33
if b < a:
 print("b->200 is greater than a->33 - True") # True
else:
 print("a->33 is less than b ->200 False") # False

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
morris = "Female"
esther = "Male"
if morris > esther:
  print("esther is greater than morris")
elif morris == esther:
   print("morris is greater than esther")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

In [ ]:
if a > b: print("a is greater than b")

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

In [ ]:
#At least 18yrs, credit 650, Income=50k
age = 18
credit_score = 450
annual_income = 200
#Housing to qualify for = 155K, mortgage=30yrs, Interest 4%, 900/month
Design a program to determine the pre-qualifications of potential buyer.

In [ ]:
#........ and shoot for the Sky in you getting a big promotion & opportunity
#Enter Full Names
print("Enter First and Last Name: ")
fname = input("Enter first name: ") #First Name
lname = input("Enter last name: ") #last Name
fullnames = fname + " " + lname
 
#Enter phone, email
print("Enter Customer's Phone Number: ")
phone = input("Enter phone number: ")
print('Enter Customer\'s email address: ')
email = input("Enter email address: ")

#price of a used car
price = 10000
has_good_credit = False
 
if has_good_credit:
	down_payment = 0.1 * price
else:
	down_payment = 0.2 * price

print(f"Down Payment: {down_payment}")
print('')
print("Full Names:", fullnames)
print("Phone: " +phone)
print("Email: " + email)
print("Down Payment:", down_payment)

In [ ]:
name = input("Give me your name: ")
print("Your name is: ", name)

In [ ]:
age = input("Enter your age:  ")
age = int(age)