<a href="https://colab.research.google.com/github/gndede/python/blob/main/Adding236.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [ ]:
#Start the program

In [ ]:
#Declare the variables num1, num2, sum
num1 = 10
num2 = 13
sum = num1 + num2

In [ ]:
print(sum)

In [ ]:
#Get a product of 2 number

In [ ]:
#prove that Sequence actually work
num1 = 32
numb2 = 43

In [ ]:
#Calculate the products of those 2 numbers
product1 = num1 * numb2

In [ ]:
#print the product
print(product21)

In [ ]:
print("First Enter Number 1:")
num1 = float(input())

In [ ]:
print("Second Enter Number 2:")
num2 = int(input())

In [ ]:
sum = (num1 + num2)

In [ ]:
print("Our answer is: ",sum)

In [ ]:
number = 10

In [ ]:
#Check if the number is greater than 0
if number > 0:
  print("Number is positive")
print("The IF statement is easy")

In [ ]:
number = -10

if number > 0:
  print("Positive Number")

else:
  print("Negative Number")

print("Wow - This statement is always executed no matter what!!!")

In [ ]:
# list my contacts in sequence and print them on the screen.
# Python Program listing in sequence
print("Name: MARTIN LUTHER KING JR")
print("Email: martin.luther@gmail.com")
print("Phone: 909-456-0392")
print("Gender: Male")
print()
print("Address: 457 Forrest Park Lane")
print("Savannah, GA 30987-2132")
print("U.S.A")

In [ ]:
print("Enter First and Last Name :")
name = input()

In [ ]:
print("Email :")
email = input()

In [ ]:
print("Phone Number :")
phone = input()

In [ ]:
print("Gender :")
gender = input()

In [ ]:
print("Address :")
address = input()

In [ ]:
print("City :")
city = input()

In [ ]:
print("State :")
state = input()

In [ ]:
print("Zipcode :")
zipcode = input()

In [ ]:
print("Country :")
country = input()

In [ ]:
# list my contacts in sequence and print them on the screen.
# Python Program listing in sequence
print("Name: ", name)
print("Email: ", email)
print("Phone: ", phone)
print("Gender: ", gender)
print()
print("Address:", address)
print("City:", city)
print("State:", state)
print("Zip Code: ", zipcode)
print("Country:", country)

In [ ]:
name = input("Enter your name: ")
print()
print("Habari yako,  " +  name)

In [ ]:
print("Enter your names: ") #prompt
name = input()
print() #create space
print("Habari yako, " + name)

In [ ]:
print("Age:")
age = int(input())

In [ ]:
print(age)

In [ ]:
flag = True
if flag == False:
    print("Welcome")
    print("To The")
    print("Largest Python Class in Sub-Saharan Africa")
else:
    print("That was is not possible - Unfortunate")

In [ ]:
flag = True
if flag:
    print("Welcome")
    print("To The")
    print("Largest Python Class in Sub-Saharan Africa")

In [ ]:
flag = False
if flag:
    print("You Guys")
    print("are a")
    print("Fantastically great class")
else:
    print("That was is not possible - Unfortunate")

In [ ]:
number = 300
if number < 500:
    print("number is less than 500")

In [ ]:
number = 600
if number < 500:
    print("number is less than 500")
else:
    print("That number is too large")

In [ ]:
number = 43
if number % 2 == 0:
    print("Even Number") ## True
else:
    print("Odd Number")  ## False

In [ ]:
players = ["Tom", "Ben", "John", "Eric"]
if not players:

In [ ]:
number = 1122
if 9 < number < 99:
    print("Two digit number")
elif 99 < number < 999:
    print("Three digit number")
elif 999 < number < 9999:
    print("Four digit number") #True
else:
    print("number is <= 9 or >= 9999")

In [ ]:
print("Enter Age:")
age = int(input())
if 2 > age < 5:
    print("Kyle")
elif 12 > age < 15:
    print("Dylan")
elif 15 > age < 23:
    print("Roby") #True
elif 23 > age < 26:
    print("Sandy") #True
elif 26 > age < 45:
    print("Mommy") #True
else:
    print("Daddy")

In [ ]:
#1. Enter the name, phone, address, email address, electric billing
#2. enter the total number of kilowatts used e.g 700kw per week, enter the tax 8%
#3. Calculate the billing for the house in a month
#4. Print: Name, address, email,
#5. Details of the electric consumption

In [ ]:
print("Enter Name ")
name = str(input())
print()
print("Enter phone ")
phone = str(input())
print()
print("Enter Email ")
email = str(input())
print()

In [ ]:
print("Names: ",name)
print("Phone: ",phone)
print("Email: ",email)

In [ ]:
print("Enter customer name")
Name=str(input())
print()

In [ ]:
print("Enter customer name")
Name=str(input())
print()