<a href="https://colab.research.google.com/github/gndede/python/blob/main/Colab_1_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a="Morris Obiri"
first_name, last_name= a.split()

In [ ]:
print(last_name, first_name, sep="  ")

Obiri  Morris

In [ ]:
a="Morris Obiri"
b,c= a.split()

In [ ]:
print(c, b , sep='-')

Obiri-Morris

In [ ]:
House= "Furniture Clothes People"
sit_on, wear, eat = House. split()

In [ ]:
print(sit_on, wear, eat, sep =" + ")

Furniture + Clothes + People

In [ ]:
Teacher= "Ndete Migot"
b,c= Teacher.split()

In [ ]:
print(c)

Migot

In [ ]:
print(c,b, sep= "-")

Migot-Ndete

In [ ]:
a= "1,2,3,4,5,6,7"
print(a)

1,2,3,4,5,6,7

In [ ]:
w="Peter Obiri Tinega"
First_name, Middle_name, Last_name= w. split()
print(First_name, Middle_name, Last_name, sep = ", ")

Peter, Obiri, Tinega

In [ ]:
Name="Morris Kenyaga Obiri"
first_name, middle_name, last_name=Name.split()
print(first_name, last_name, sep= " ")

Morris Obiri

In [ ]:
print(Middle_name, Last_name, sep=" ")

Obiri Tinega

In [ ]:
print(First_name, Middle_name, sep = " & ")

Peter & Obiri

In [ ]:
a,b,c = 7,8,"George"
print(a)
print(b)
print(c)

7
8
George

In [ ]:
#Example code:
a, b, c, d = 3, 4, 5, 6
print(a,b, c, d)

3 4 5 6

In [ ]:
a = b = c = d = 65
print(a)
print(b)
print(c)
print(d)

65
65
65
65

In [ ]:
Habari = "Habari"
Zenu = "Zenu"
jambo = Habari + " " + Zenu  
print(jambo)

Habari Zenu

In [ ]:
moja  = 1
mbili = 2
tatu = moja + mbili
print(tatu) # finding the result â‡’ 3

3

In [ ]:
# This will not work!
one = 1.0
two = 2
hello = "Hello"
print(one, two," + ",  "hello")

1.0 2  +  hello

In [ ]:
# change this code
mystring = None
myint = None
# testing code
if mystring == "hello":
  print("String: %s" % mystring)
  myfloat = 10.0
if isinstance(myfloat, float) and myfloat == 10.0:
  print("Float: %f" % myfloat)
  myint = 20
if isinstance(myint, int) and myint == 20:
  print("Integer: %d" % myint)

SyntaxError: ignored

In [ ]:
#Slicing in Python
#https://www.w3schools.com/python/python_strings_slicing.asp
str = 'WALTER'

In [ ]:
 print (str[2:5])     # Prints characters starting from 3rd indexing (W=0,A=1,L=2,T=3,E=4,R=5) to 5th numbering - W=1,A=2,L=3,T=4,E=5,R=6
#LTE

LTE

In [ ]:
str1 = "The Quick Fox Brown jumped Over the Lazy Dog"

In [ ]:
print (str1[2:6])      # Prints string starting from 3rd character

e Qu

In [ ]:
#Que1: Enter your first, last name. Also Enter your Email, and physical (123 Hidden Valley Lane, Grand Prairie Texas 75014). Then enter your phone number in the last line.
Print something in the form of 
FirstName, Last_name
Email address
Physical Address
Phone Number

In [ ]:
a,b,c, d, e,f,g  = "Full Names: Morris Ohare", "Email: Ohareconnect@gmail.com", "Address: 500 Timberlake Oaks Lane", "City: Grand Rapids", "State: Michigan", "Zip Code: 35052", "Phone Number: 9075033226"
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

Full Names: Morris Obiri
Email: Obiriconnect@gmail.com
Address: 700 Timber Oaks Lane
City: Grand Prairie
State: Texas
Zip Code: 75051
Phone Number: 8175003446

In [ ]:
Asubuhi="Habari"
Watu="yenu" 
Umri= "Wazee?"
Salamu= Asubuhi + " " + Watu +" " + Umri
print(Salamu)

Habari yenu Wazee?

In [ ]:
names = ["John", "Eric", "Jessica"]
names.append (" Lukas")
print (names)

['John', 'Eric', 'Jessica', ' Lukas']

In [ ]:
names = ["John", "Eric", "Jessica"]

In [ ]:
names.append (" Moses")
print (names)

['John', 'Eric', 'Jessica', ' Moses', ' Moses', ' Moses']

In [ ]:
names.pop()

' Moses'

In [ ]:
names = ["John", "Eric", "Jessica"]
names.append (" Lukas")
print (names)

['John', 'Eric', 'Jessica', ' Lukas']

In [ ]:
names.append("Judy")
print(names)

['John', 'Eric', 'Jessica', ' Lukas', 'Judy']

In [ ]:
names[0]
print(names[0])

John

In [ ]:
print (names[2])

Jessica

In [ ]:
print(names [2])
print(names[0])

Jessica
John

In [ ]:
a=['John', 'Eric', 'Jessica', ' Lukas', 'Judy']

In [ ]:
temp=a[0]
a[0]=a[4]
a[4]=temp

In [ ]:
print(a)

['Judy', 'Eric', 'Jessica', ' Lukas', 'John']

In [ ]:
# Reverse a List
list = [100, 200, 300, 400, 500]

In [ ]:
list.reverse()
print(list)

[500, 400, 300, 200, 100]

In [ ]:
#Concatenate two lists index-wise
list1 = ["M", "nick", "i", "Mo"]
list2 = ["y", "name", "s", "rris"]
list3 = [k + l for k, l in zip(list1, list2)]
print(list3)

['My', 'nickname', 'is', 'Morris']

In [ ]:
#Concatenate two lists index-wise
list1a= ("M", "nick", "i", "Mo")
list2b = ("y", "name", "s", "rris")
y = zip(list1a, list2b)
print(tuple(y))

(('M', 'y'), ('nick', 'name'), ('i', 's'), ('Mo', 'rris'))

In [ ]:
tuplea = ("John", "Charles", "Mike")
tupleb = ("Jenny", "Christy", "Monica")

x = zip(tuplea, tupleb)

In [ ]:
print(x)

<zip object at 0x7fae396ad7d0>

In [ ]:
print(tuple(x))

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

In [ ]:
1,2,4,5,3 ===> int
1.0,9.0,3.14 ===> float
["Esther", "Morris", "George"] ===> list
("Jenny", "Christy", "Monica") ==> tuple
{"Name": "Morris", "email":"email@email.com"} ===> diction

In [ ]:
#Square Lists

In [ ]:
aList = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
squared_aList=[]
for number in aList:
 squared_aList.append(number**2)
print(squared_aList)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [ ]:
#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-3])
print(thistuple[2])
print(thistuple[0])

apple
cherry
apple

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'banana', 'apple']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist2 = ["pinneaple", "Oranges", "Pawpaw"]

thislist3 = [a + b for a in thislist for b in thislist2]
print(thislist3)

['applepinneaple', 'appleOranges', 'applePawpaw', 'bananapinneaple', 'bananaOranges', 'bananaPawpaw', 'cherrypinneaple', 'cherryOranges', 'cherryPawpaw']

In [ ]:
thistuple = ("apple", "banana", "cherry")

In [ ]:
temp= a[0]
a[0]=a[1]
a[1]=temp
print(thistuple)

('apple', 'banana', 'cherry')