<a href="https://colab.research.google.com/github/gndede/python/blob/main/pandas243.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#The below example creates a Pandas DataFrame from the list.
import pandas as pd
#Dataset for fnames, middlename, lname, age, gender and salary
data = [["Onyango","","Otoyo",30,"M",60000],
        ["Michael","Mwangi","",50,"M",70000],
        ["Robert","","Ouko",42,"",400000],
        ["Maria","Anne","Mwajuma",38,"F",500000],
        ["Jane","Mama","Abiero",45,None,0]]
columns=['First Name','Middle Name','Last Name','Age','Gender','Salary']

In [ ]:
# Create the pandas DataFrame
pandasDF=pd.DataFrame(data=data, columns=columns)

In [ ]:
# print dataframe.
print(pandasDF)

In [ ]:
# print dataframe.
print(pandasDF.count())

In [ ]:
# print dataframe max.
print(pandasDF.max())

In [ ]:
# print dataframe mean.
print(pandasDF.mean())