<a href="https://colab.research.google.com/github/gndede/python/blob/main/Pyspark243.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

In [ ]:
import pyspark

In [ ]:
import spark

In [ ]:
#textFile = spark.read.text("/content/sample_data/README.md")
from pyspark import SparkFiles
url = "https://opendata.reseaux-energies.fr/explore/dataset/eco2mix-national-tr/download/?format=csv"
spark.sparkContext.addFile(url)

In [ ]:
url = "https://opendata.reseaux-energies.fr/explore/dataset/eco2mix-national-tr/download/?format=csv&timezone=Europe/Berlin&lang=fr&use_labels_for_header=true&csv_separator=%3B"
from pyspark import SparkFiles
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("eco2mix-national-tr.csv"), header=True, inferSchema= True)

In [ ]:
url = "https://opendata.reseaux-energies.fr/explore/dataset/eco2mix-national-tr/download/?format=csv"
from pyspark import SparkFiles
sc.addFile(url)

path  = SparkFiles.get('download')
df = spark.read.csv("file://" + path, header=True, inferSchema= True, sep = ";")

In [ ]:
pip install pyspark

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

#read CSV into PySpark DataFrame
df = spark.read.csv('/content/sales_data.csv', header=True)

#view resulting DataFrame
df.show()

In [ ]:
csv_file = "/content/sales_data.csv"

df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv(csv_file)

In [ ]:
df.createOrReplaceTempView("saless_data")

In [ ]:
result = spark.sql("SELECT * FROM saless_data")
result.show()

In [ ]:
result = spark.sql("SELECT Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue FROM saless_data")
result.show()

In [ ]:
# Calculate the total revenue for each product

query = """
SELECT
Product,
SUM(Order_Quantity * Unit_Price) as TotalRevenue
FROM sales_data
GROUP BY Product
"""

result = spark.sql(query)
result.show()

In [ ]:
# Load the data into a DataFrame
csv_file = "/content/sales_data.csv"
df = spark.read.option("header", "true").option("inferSchema", "true").csv(csv_file)

# Create a temporary view
df.createOrReplaceTempView("sales_data")

In [ ]:
# Calculate the total revenue for each product

query = """
SELECT
Product,
SUM(Order_Quantity * Unit_Price) as TotalRevenue
FROM sales_data
GROUP BY Product
"""

result = spark.sql(query)
result.show()

In [ ]:
#You can also use more complex SQL queries to analyze your data.
#For example, to find the top 2 products with the highest revenue
query = """
SELECT
    Product,
    SUM(Order_Quantity * Unit_Price) as TotalRevenue
FROM
    sales_data
GROUP BY
    Product
ORDER BY
    TotalRevenue DESC
LIMIT 2
"""

result = spark.sql(query)
result.show()