<a href="https://colab.research.google.com/github/gndede/python/blob/main/sqliteassn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
# create connection and  cursor

conn = sqlite3.connect("Machine_Learning1.db")
c = conn.cursor()

In [ ]:
#create a  students table
c.execute("""CREATE TABLE IF NOT EXISTS students 
 (id integer, fname text, lname text, country text, city text,continent text, course text)
    """)

In [ ]:
#create a courses table
c.execute ("CREATE TABLE IF NOT EXISTS   courses (id integer,coursename text)")

In [ ]:
#table values
student_list1= [   (1, 'Nicholas', 'Okello', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python'),
                    (2, 'Tim', 'Kabugi', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python'),
                    (3, 'John', 'Weru', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python'),
                    (4, 'Darik', 'Olal', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python'),
                    (5, 'Esther', 'Wambui', 'Kenya', 'Nairobi', 'Africa', 'Machine Learning'),
                    (6, 'George', 'Ndede', 'USA', 'Dallas', 'N. America', 'Artificial Intelligence')
                   ]
c.executemany('INSERT INTO students VALUES(?,?,?,?,?,?,?)',student_list1)

In [ ]:
courses_list =[(1, 'Advanced Python'),
    (2, 'Machine Learning'),      
    (3, 'Introduction Data Science'),
    (4, 'Artificial Intelligence'),
    (5, 'Introduction Python'),
    (6, 'Database Management'),
    (7, 'Intro to Linux Administration'),
    (8, 'Intro to AWS Foundations'),
    (9, 'Python System Administration')]
c.executemany('INSERT INTO courses VALUES(?,?);',courses_list)

In [ ]:
#commit the changes to db			
conn.commit()

In [ ]:
#query the database
c.execute("SELECT DISTINCT * FROM students ")
items = c.fetchall()
for x in items:
    print(x)

(1, 'Nicholas', 'Okello', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python')
(2, 'Tim', 'Kabugi', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python')
(3, 'John', 'Weru', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python')
(4, 'Darik', 'Olal', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python')
(5, 'Esther', 'Wambui', 'Kenya', 'Nairobi', 'Africa', 'Machine Learning')
(6, 'George', 'Ndede', 'USA', 'Dallas', 'N. America', 'Artificial Intelligence')

In [ ]:
c.execute("SELECT DISTINCT* FROM courses ")
items = c.fetchall()
for y in items:
    print(y)

(1, 'Advanced Python')
(2, 'Machine Learning')
(3, 'Introduction Data Science')
(4, 'Artificial Intelligence')
(5, 'Introduction Python')
(7, 'Intro to Linux Administration')
(8, 'AWS Foundations')
(9, 'Python System Administration')
(10, 'Introduction  to statistics')

In [ ]:
#Doing  a JOIN
c.execute("""
SELECT DISTINCT*
FROM students 
JOIN  courses 
ON  students.course = courses.coursename
ORDER BY id
  """)
items  = c.fetchall()
for x in items:
  print(x)

(1, 'Nicholas', 'Okello', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python', 1, 'Advanced Python')
(2, 'Tim', 'Kabugi', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python', 1, 'Advanced Python')
(3, 'John', 'Weru', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python', 1, 'Advanced Python')
(4, 'Darik', 'Olal', 'Kenya', 'Nairobi', 'Africa', 'Advanced Python', 1, 'Advanced Python')
(5, 'Esther', 'Wambui', 'Kenya', 'Nairobi', 'Africa', 'Machine Learning', 2, 'Machine Learning')
(6, 'George', 'Ndede', 'USA', 'Dallas', 'N. America', 'Artificial Intelligence', 4, 'Artificial Intelligence')

In [ ]:
conn.commit()
#conn.close()

In [ ]:
# inserting  and  updating the tables
c.execute("INSERT INTO courses VALUES (10,'Introduction  to statistics')")

In [ ]:
#updating 
c.execute("UPDATE courses SET coursename = 'AWS Foundations' WHERE id = 8 ")

In [ ]:
#dropping  an item
c.execute("""DELETE FROM courses 
WHERE id = 6 
ORDER BY id
LIMIT 10""")

In [ ]:
conn.commit()
conn.close()