<a href="https://colab.research.google.com/github/gndede/python/blob/main/Titanic223.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/titanic_train.csv')

In [ ]:
df

In [ ]:
df.count(0)

In [ ]:
#Drop some stuff
df = df.drop(['Ticket','Cabin','Name'], axis=1)

In [ ]:
df

In [ ]:
df = df.dropna()

In [ ]:
df